<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.UserMapper">

    <select parameterType="map" id="consultarUsuario" resultMap="UsuarioResult" >
        select *
        from "Proyecto"."usuarios" as u
        where u.correo = #{user} AND u.clave = #{password}
    </select>


    <select id="idUsuario" resultType="java.lang.Integer" >
        select *
        from "Proyecto"."usuarios"
        where correo = #{user}
    </select>


    <resultMap type='Usuario' id='UsuarioResult'>
        <result property='id' column='id'/>
        <result property='rol' column='rol'/>
        <result property='correo' column='correo'/>
        <result property='clave' column='clave'/>
    </resultMap>

</mapper>

